body {


font-family: 'Roboto', sans-serif;

}



/* Containers */



.container-wrapper {}



.container-wrapper--red {

background-color: #f05f40;

color: white;

}



.alert-container {}



.callout-container {

height: 100vh;



background: src="images/whiskey-background.jpg" no-repeat bottom right fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;



display: flex;

align-items: center;

justify-content: center;



position: relative;

}



.opaque-overlay {

position: absolute;

top: 0;

left: 0;

height: 100%;

width: 100%;

background-color: rgba(0, 0, 0, 0.5);

}



.content-container {

padding-top: 75px;

padding-bottom: 75px;

}



/* Navbar */



.navalert-container {

position: absolute;

top: 0;

left: 0;

z-index: 1;

padding-left: 0;

padding-right: 0;
